@model List<WebDuLich.DB.LoaiPhuongTien>
@{
    ViewBag.title = "Thêm mới nhà hàng";
    int stt = 1;
    var user = (WebDuLich.DB.User)System.Web.HttpContext.Current.Session["user"];

}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Thêm mới phương tiện</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <form action="/Admin/PhuongTien/Create" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="Code">Mã Phương tiện</label>
                                    <input type="number" name="Code" class="form-control" id="Code" placeholder="Nhập mã phương tiện">
                                </div>
                                <div class="form-group">
                                    <label for="ten">Tên phương tiện</label>
                                    <input type="number" name="ten" class="form-control" id="ten" placeholder="Nhập số lượng chỗ ngồi">
                                </div>
                                <div class="form-group">
                                    <label for="TenPhuongTien">Loại phương tiện</label>
                                    <select class="select2 w-100" name="IDPhuongTien">
                                        @if (Model.Count > 0 && Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <option value="@item.IDPhuongTien">@item.Ten</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ChoNgoi">Chỗ ngồi</label>
                                    <input type="number" name="ChoNgoi" class="form-control" id="ChoNgoi" placeholder="Nhập số lượng chỗ ngồi">
                                </div>
                                <div class="form-group">
                                    <label for="Gia">Giá</label>
                                    <input type="number" name="Gia" class="form-control" id="Gia" placeholder="Nhập giá">
                                </div>
                                <div class="form-group">
                                    <label for="HinhAnh" class="form-label">Hình Ảnh</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="text" class="custom-file-input" name="HinhAnh" value="" id="HinhAnh">
                                            <label class="custom-file-label" id="txt-HinhAnh" for="HinhAnh"></label>
                                        </div>
                                        <div type="button" onclick="chooseImage()" class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Noidung" class="form-label">Nội dung</label>
                                    <textarea class="form-control" name="Noidung" id="txtBaiViet"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="NgayTao">Ngày tạo</label>
                                    <input type="text" name="NgayTao" class="form-control" readonly id="NgayTao" value="@DateTime.Now">
                                </div>
                                <div class="form-group">
                                    <label for="NguoiTao">Người tạo</label>
                                    <input type="text" name="NguoiTao" class="form-control" readonly id="NguoiTao" value='@(user.UserName != null ? user.UserName : "")'>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


@section script
{
    <script>
        function chooseImage() {
            var finder = new CKFinder();
            finder.selectActionFunction = dienUrlVaoInput;
            finder.popup();
        }

        CKEDITOR.replace("txtBaiViet")

        function dienUrlVaoInput(fileUrl) {
            $("input[name=HinhAnh]").val(fileUrl)
            $('#txt-HinhAnh').append(fileUrl);
        }

        $('.select2').select2()
        //$(function () {
        //    $('input[name="NgayTao"]').daterangepicker({
        //        singleDatePicker: true,
        //        showDropdowns: true,
        //        minYear: 1901,
        //        maxYear: parseInt(moment().format('YYYY'), 10)
        //    }, function (start, end, label) {
        //        var years = moment().diff(start, 'years');
        //    });
        //});

    </script>
}
