@model WebDuLich.Models.ModelView.Tours.MapTourView
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 1;
    List<WebDuLich.DB.DiaDiem> diaDiems = Model.diaDiems;
    List<WebDuLich.DB.KhachSan> khachSans = Model.khachSans;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Danh sách tour</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="/Admin/Tour/Create" class="btn btn-primary">Thêm mới</a>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 650px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Tour</th>
                                        <th>Hình Ảnh</th>
                                        <th>Giá Cũ</th>
                                        <th>Giá Mới</th>
                                        <th>Bài viết</th>
                                        <th>Điểm đến</th>
                                        <th>Khách sạn</th>
                                        <th>Ngày tạo</th>
                                        <th>Người tạo</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.tours)
                                    {
                                        <tr>
                                            <td>@stt</td>
                                            <td>@item.TenTour</td>
                                            <td>
                                                <img src="@item.HinhAnh" width="100" heihgt="100" />
                                            </td>
                                            <td>@item.GiaCu</td>
                                            <td>@item.GiaMoi</td>
                                            <td>@Html.Raw(@item.BaiViet)</td>
                                            <td>
                                                @foreach (var diadiem in diaDiems)
                                                {
                                                    if (diadiem.ID == item.IDDiaDiem)
                                                    {
                                                        @diadiem.Ten
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @foreach (var khachSan in khachSans)
                                                {
                                                    if (khachSan.ID == item.IDKhachSan)
                                                    {
                                                        @khachSan.Ten
                                                    }
                                                }
                                            </td>
                                            <td>@item.NgayTao</td>
                                            <td>@item.NguoiTao</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-info" href="/Admin/Tour/Update?id=@item.ID"><i class="fas fa-pen"></i></a>
                                                <a class="btn btn-sm btn-outline-danger quickDelete" onclick="handlerConfirm('/Admin/Tour/Delete?id=@item.ID')"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->